# Root & all microservices
.env
.env.*
!.env.example

# Per-service .env files
server-*/.env
server-*/.env.*

# Logs
logs/
**/*.log

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
**/node_modules/

# Dist / build output
dist/
**/dist/

# TypeScript build info
*.tsbuildinfo
**/*.tsbuildinfo

# IDE
.vscode/
.idea/

# Output of builds
build/
**/build/

# Test & coverage
coverage/
**/coverage/
.nyc_output/
*.lcov
**/*.lcov

# Misc
*.tgz
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Temporary
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# Ignore all .env files except .env.example
!.env.example
server-*/.env.example
